* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

link {
  color: #61dafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 1.2em;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

ul {
  padding-inline-start: 20px;
}

/*
Dessa forma um elemento html pai recebe a condição
para centralizar os seus filhos,
* no entanto, se houver um elemento com tamanho fixo(px),
será preciso criar uma outra div centralizadora entre
o elemento filho e a superior de todas
elemento filho (px) -> media centralizadora -> superior centralizadora
*/
.centralizador {
  display: grid;
  justify-content: center;
}

.aplicacao {
  margin-top: 100px;
}

.quadrado {
  background: #ffffff;
  height: 64px; /*34...*/
  width: 64px;
  line-height: 64px;
  font-size: 36px; /*24*/
  border: 2px solid #999;
  float: left;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.linha:after {
  clear: both;
  content: "";
  display: table;
}

.estado {
  font-size: 24px;
  margin-bottom: 10px;
}

.jogo {
  display: flex;
  flex-direction: row;
}

.jogo-info {
  margin-left: 20px;
}
